body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.header-container,
.content-container,
.footer-container {
  display: flex;
  justify-content: center;
  flex:1;
}

.header-container {
  background-color: grey;
  justify-content: center;
  margin: 0px;
}


.header {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 50px;
  gap: 30px;
  background-color: grey;
  max-width: 900px;
  min-height: 400px;
}

.logo-links {
  display: flex;
  justify-content: space-between;
  /* flex: 1; */
  
}

.logo-links p {
  padding: 0;
  margin: 0;
}

.logo-links .links {
  display: flex;
  gap: 10px;
}

.links a {
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}