
body {
  margin:0px;

  
}

/* below is header in common */

.header-container {
  /* display: flex; 
  flex-direction: column; 
  flex-grow: 1;   */
  background-color:#1f2937;
}

.header-navbar,
.intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

/* above is header in common
below is header-navbar */

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.header-navbar .links {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

/* above is header's navbar
/* below is header's intro */

.intro {
  display: flex;
  flex-wrap: wrap-reverse;
  /* border: 1px solid white; */
  justify-content: center;
  gap: 50px ;
}

.text-container {
  color: white;
  max-width: 500px;
  overflow-wrap: break-word;
}
.text-container p {
  text-align: justify;
}

.intro .image img {
  max-width: 500px;
}

/* above is header-intro
below is photo-cards */

/* .photo-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.photo-cards-container h1{
  text-align: center;
  padding: 50px;
}

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.col img,
.col p {
  max-width: 250px;
}

.col {
  text-align: center;
  margin: auto;
}

/* above is gallery
below is quote */

.quote-container {
  background-color: gainsboro;
  padding: 100px ;
}

.quote {
  max-width: 500px;
  margin: 0 auto;
}

.quote p {
 text-align:justify
}

.reference {
  text-align: end;
}

/* above is quote
below is signup card */

.signup-card-container {
  display:flex;
  justify-content: center;
  padding: 50px;
}

.signup-card {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  margin: 50px;
  padding: 50px;
  gap: 50px;
  border-radius: 10px;
}

button {
  align-self: center;
}

/* above is signup card
below is footer */

.footer {
  background-color: #1f2937;
  color: white;
  padding: 10px;
  text-align: center;
}

/* 
below is all */

.header-container,
.photo-cards-container,
.quote-container,
.signup-card-container,
.footer {
  height: 100%;
}
